* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1200px;
    margin: auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
textarea {
    resize: none;
    width: 200px;
    height: 200px;
}
.header {
    height: 50px;
    margin: 30px auto;
}
.logo{  
    float: left;
    width: 200px;
    height: 50px;
    background-color: skyblue;
}
.nav{
    float: right;
}
.nav ul li{
    float: right;
}
.nav ul li a {
    display: block;
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    font-size: 18px;    
    color: black;
}
.nav ul li a:hover {
    border-bottom: 2px solid blue;
    color: blue;
}
.subnav {
    height: 60px;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.subnav ul li {
    float: left;
    width: 25%;
    text-align: center;
}
.subnav ul li a {
    font-size: 18px;
    color: black;    
    line-height: 60px;
}
.box {
    margin-top: 30px;
    /* background-color: blue; */
    height: 500px;
}
.left-box {
    float: left;
    width: 300px;
    /* background-color: skyblue; */
    height: 500px;
}
.left-box ul li{
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
}
.left-box ul li a {
    font-size: 18px;
    color: black;
}
.mid-box {
    float: left;
    width: 600px;
    background-color: skyblue;
    height: 500px;
}
.mid-box .mid-top {
    background-color: lightgreen;
    height: 100px;
}

.mid-box .mid-bot {
    background-color: skyblue;
    height: 400px;
    overflow: scroll;
}

.right-box {
    float: left;
    width: 300px;
    height: 500px;
}