<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css and js sourcefile -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='myscript.js') }}"></script>
</head>

<body>
    <!-- header start -->
    <div class="header w">
        <div class="logo">
            Webpage logo
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">Topic 1</a></li>
                <li><a href="#">Topic 2</a></li>
                <li><a href="#">Topic 3</a></li>
                <li><a href="#">Topic 4</a></li>
            </ul>
        </div>
    </div>
    <!-- header end -->
    <!-- subnav start -->
    <div class="subnav w">
        <ul>
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
        </ul>
    </div>
    <!-- subnav end -->
    <!-- box start -->
    <div class="box w">
        <!-- left-box start -->
        <div class="left-box">
            <ul>
                <li><a href="#">Section 1</a></li>
                <li><a href="#">Section 2</a></li>
                <li><a href="#">Section 3</a></li>
                <li><a href="#">Section 4</a></li>
                <li><a href="#">Section 5</a></li>
            </ul>
        </div>
        <!-- left-box end -->
        <!-- mid-box start -->
        <div class="mid-box">
            <div class="mid-top">
                abc
            </div>
            <div class="mid-bot">
                <form action="/" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="inputfile">Specify a file:</label><br>
                        <input type="file" id="inputfile" name="inputfile">
                        <input class="btn" type="submit" name="submit" value="Upload">
                    </div>

                    <!-- <textarea id="content-target"></textarea>
                    <input type="button" value="read file" id="read-file" onclick="read()"> -->
                </form>

            </div>
        </div>
        <!-- mid-box end -->
        <!-- right-box start -->
        <div class="right-box">
            123
        </div>
        <!-- right-box end -->
    </div>
    <!-- box end -->
</body>


</html>